<ion-card>

  <ion-card-header>
    Our wonderful CryptoNance app!!
  </ion-card-header>

  <ion-card-content>
    <button ion-button color="default" round (click)="openIt()" > Don't click me!! </button>
  </ion-card-content>

</ion-card>
